#wrapper {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0px auto;
    border: 1px solid green;
}

#elem1 {
    border: 1px solid red;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}


#wrapper2 {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 90px auto;
    background-color: #4DEE99;
    
}

#elem2 {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 100px;
    height: 100px;
    background-color: white;
}

#elem3 {
    position: absolute;
    left: 340px;
    top: 240px;
    width: 100px;
    height: 100px;
    background-color: white;
}


#wrapper3{
	position: relative;
	width: 200px;
	height: 430px;
	margin: 0px auto;
	border: 1px solid black;
	
}
 
#elem4{
	border: 1px solid black;
	background-color: red;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
#elem5{
	
	
	background-color: yellow;
	border: 1px solid black;
	position: absolute;
	left: 50px;
	top: 160px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
#elem6{
	border: 1px solid black;
	background-color: green;
	position: absolute;
	left: 50px;
	top: 270px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}


#wrapper4 {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 60px auto;
    border: 1px solid black;
}

.eye1{
	background-color: white;
	position: absolute;
	left: 230px;
	top: 90px;
	width: 50px;
	height: 50px;
	z-index: 3;
	border-radius: 35px;
	
}

.eye2{
	background-color: white;
	position: absolute;
	left: 120px;
	top: 90px;
	width: 50px;
	height: 50px;
	z-index: 3;
	border-radius: 35px;
	
}

.noise{
	background-color: white;
	position: absolute;
	left: 175px;
	top: 150px;
	width: 50px;
	height: 50px;
	z-index: 3;
	border-radius: 35px;
	
}
.mouth{
	background-color: white;
	position: absolute;
	left: 100px;
	top: 110px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	z-index: 1;
}

.mouth2{
	background-color: #C4CD14;
	position: absolute;
	left: 100px;
	top: 90px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	z-index: 2;
}
.face{
	background-color: #C4CD14;
	position: absolute;
	left: 50px;
	top: 30px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	z-index: 0;
}


#wrapper5 {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 60px auto;
    border: 1px solid black;
}

.eye3{
	background-color: white;
	position: absolute;
	left: 230px;
	top: 90px;
	width: 50px;
	height: 50px;
	z-index: 3;
	border-radius: 35px;
	
}

.eye4{
	background-color: white;
	position: absolute;
	left: 120px;
	top: 90px;
	width: 50px;
	height: 50px;
	z-index: 3;
	border-radius: 35px;
	
}

.noise2{
	background-color: white;
	position: absolute;
	left: 180px;
	top: 150px;
	width: 40px;
	height: 40px;
	z-index: 3;
	
}
.mouth3{
	background-color: white;
	position: absolute;
	left: 125px;
	top: 120px;
	width: 150px;
	height: 150px;
	z-index: 1;
}

.mouth4{
	background-color: #7E89EB;
	position: absolute;
	left: 125px;
	top: 100px;
	width: 150px;
	height: 150px;
	z-index: 2;
}
.face2{
	background-color: #7E89EB;
	position: absolute;
	left: 50px;
	top: 30px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	z-index: 0;
}